

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}

<h1>Set a new password!</h1>
<form method="POST">
  {% csrf_token %}
  {% comment %} <div class="col-12 col-sm-6">
    <div class="form-group">
       <label  class='lbl'>Password</label>
       <input type="password" class="form-control"  name="password"  required>
    </div>
 </div>
 <div class="col-12 col-sm-6">
    <div class="form-group">
       <label  class='lbl'>Confirm Password</label>
       <input type="password" class="form-control"  name="confirm_password"  required>
    </div>
 </div> {% endcomment %}
         {{form.as_p}}
  <input type="submit" value="Change my password">
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}




{% comment %} from django.db import transaction
from django.db.models import F

def get_tickets(event_id, num_tickets):
    with transaction.atomic():
        Event.objects.filter(id=event_id).update(quantity=F('quantity') - num_tickets)
        if Event.objects.get(id=venue_id).quantity < 0:
            raise ValueError("Capacity exceeded: less than %s tickets left." % num_tickets) {% endcomment %}
{% endblock%}